.lightbox {
  visibility: hidden;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: white;
}

.general-container {
  display: flex;
  column-gap: 27px;
  justify-content: center;
  position: relative;
}

.lightbox-next,
.lightbox-prev,
.lightbox-close {
  border: none;
  background-color: white;
  color: #901c1c;
  font-size: 56px;
  cursor: pointer;
  align-self: center;
}
.lightbox-next:hover,
.lightbox-prev:hover,
.lightbox-close:hover {
  color: #db8876;
}
.lightbox-prev {
  order: 1;
  position: relative;
}
.lightbox-next {
  order: 3;
  position: relative;
}
.lightbox-close {
  font-size: 60px;
  align-self: flex-start;
  margin-top: 71px;
  position: relative;
  right: 83px;
  order: 4;
}
.lightbox-center {
  order: 2;
}
.lightbox-container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  height: 100vh;
}
.lightbox-container img,
.lightbox-container video {
  max-width: 100%;
  height: 80vh;
  object-fit: contain;
  border-radius: 5px;
}

.lightbox-container-title {
  margin-top: -5rem;
  font-size: 1.5em;
  color: #901c1c;
}
