#contact_modal {
  display: none;
}

.photograph-header {
  display: flex;
  background-color: #fafafa;
  height: 300px;
  margin: 0 100px;
}

.profile-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.profile-presentation h1 {
  font-size: 2.5rem;
  color: #db8876;
}

.profile-description {
  margin-top: -20px;
}

.location {
  font-weight: bold;
  color: #8a1717;
}

#photograph-img {
  border-radius: 50%;
  object-fit: cover;
  width: 200px;
  height: 200px;
}

.dropdown {
  margin: 20px 0 20px 7%;
  display: flex;
  align-items: center;
  gap: 20px;
}

.sort-by {
  font-size: 1.2rem;
  font-weight: bolder;
}

.custom-select {
  position: relative;
}

.photograph-media {
  margin: 50px 0 50px 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 50px;
  justify-items: center;
}

.media {
  border-radius: 2%;
  object-fit: cover;
  height: 350px;
  width: 350px;
  cursor: pointer;
}

.media-body {
  width: 350px;
  margin-top: -15px;
  display: flex;
  align-items: center;
}

.legend {
  width: 70%;
  font-size: 1.4rem;
  color: #8a1717;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.likes {
  font-size: 1.5rem;
  color: #8a1717;
  font-weight: bold;
  margin-left: auto;
}

.heart {
  font-size: 1.5rem;
  color: #8a1717;
  font-weight: bold;
  margin-left: 10px;
}

.fixed-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  background-color: #db8876;
  border-radius: 5% 5% 0 0;
  bottom: 0;
  right: 5%;
  width: 200px;
  font-weight: bold;
  padding: 0 20px 0 20px;
}

/* price */
.fixed-bar :nth-child(1) {
  order: 3;
}

/* likes */
.fixed-bar :nth-child(2) {
  margin-right: 10px;
}

/* heart */
.fixed-bar :nth-child(3) {
  margin-right: auto;
}

.contact_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
}

#contact_modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(208, 208, 208, 0.6);
}

.modal {
  border-radius: 5px;
  background-color: #db8876;
  height: 75%;
  width: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
}

.modal header {
  justify-content: space-between;
  width: 100%;
  margin-bottom: 30px;
}

.modal header img {
  cursor: pointer;
}

.modal header h2 {
  font-size: 48px;
  font-weight: normal;
  text-align: left;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

form label {
  color: #312e2e;
  font-size: 30px;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 12px;
}

form input {
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 5px;
}

#message {
  height: 100px;
}

.formData[data-error]::after {
  content: attr(data-error);
  font-size: 0.8em;
  color: red;
  display: block;
  margin-top: 7px;
  text-align: right;
  line-height: 0.3;
  opacity: 0;
  transition: 0.3s;
}
.formData[data-error-visible="true"]::after {
  opacity: 1;
}
.formData[data-error-visible="true"] .text-control {
  border: 2px solid red;
}

.selection {
  font-size: 1.1em;
  font-weight: 700;
  margin: 20px 25px 0 100px;
}

#dropdown-menu {
  position: relative;
  cursor: pointer;
  z-index: 2;
  width: 120px;
  height: 70px;
  border: none;
}
.dropdown-button {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: #901c1c;
  color: white;
  border-radius: 5px;
  border: none;
  font-size: 1.1em;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 18px 0 20px;
}

.dropdown:hover div,
.dropdown:focus div {
  background-color: #db8876;
  color: #000000;
}

.arrow-up {
  transform: rotate(180deg);
}

.dropdown-menu {
  position: absolute;
  display: none;
  top: -10px;
  left: 0;
  border: none;
  font-size: 1.125em;
  font-weight: 700;
  color: white;
  border-radius: 5px;
  background-color: #901c1c;
  list-style-type: none;
  padding: 0;
  margin-top: -3px;
}

.dropdown-menu-li {
  width: 140px;
  padding: 20px 0 20px 20px;
  position: relative;
  text-align: start;
}

.dropdown-menu-li:hover,
.dropdown-menu-li:focus {
  border-radius: 5px;
  background-color: #db8876;
  color: #000000;
}

.dropdown-menu-li::before {
  content: "";
  position: absolute;
  left: 10px;
  top: -2px;
  width: 150px;
  border: white solid 1px;
}

.dropdown:hover .dropdown-menu {
  display: block;
}
