@import url("photographer.css");

*{
    border: 1px solid red;
}

body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

h1 {
    color: #901C1C;
    margin-right: 100px;
}

a {
    text-decoration: none;
    width: 70%;
}

.logo {
    height: 50px;
    margin-left: 100px;
}

.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 100px;
    margin-bottom: 50px;
    justify-items: center;
}

.photographer_section article {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.photographer_section article h2 {
    white-space: nowrap;
    color: #D3573C;
    font-size: 36px;
}

.photographer_section article h3 {
    color: #8a1717;
    font-size: 13px;
}

.photographer_section article img {
    border-radius: 50%;
    object-fit: cover;
    height: 200px;
    width: 200px;
}

.photographer_section article span {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -2.5rem; 
}

.photographer_section article span p {
    margin-top : -0.5rem;
}

.photographer_section article span :nth-child(2) {
    color: black;
    font-size: 12px;
    font-weight: 60;
}

.photographer_section article span :nth-child(3) {
    margin-top: -0.7rem;
    font-size: 12px;
    color: gray;
}

#contact_modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(26, 39, 156, 0.4);
}

.modal {
    margin: 5% auto;
    width: 100%;
    max-width: 500px;
    background: #232323;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    color: #fff;
    padding-top: 10px;
  }